*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff;
    color: #333;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: row;
    font-size: 16px;
}
.menu ul li{
    cursor: pointer;
}
.nav-button button{
    padding: 10px 20px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.nav-button button:hover{
    background-color: #367c50;
}


.banner{
    background: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h2{
    font-size: 16px;
    background-color: #ffffff;
    color: #469165;
    padding: 8px 10px;
    border-radius: 23px;
}
.banner h1{
    font-size: 78px;
    color: #ffffff;
    margin: 20px 0;
}
.banner h1 span{
    color: #469165;
}
.banner p{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 400;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.buttons button:nth-child(1){
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #469165;
    color: white;
}
.buttons button:nth-child(1):hover{
    background-color: #30B868;
}
.buttons button:nth-child(2){
    padding: 15px 30px;
    margin: 0 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.buttons button:nth-child(2):hover{
    background-color: #469165;
}